body, html, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Zabezpečí, že aplikácia pokryje celú výšku */
}

.content-wrapper {
  flex: 1; /* Flex 1 zabezpečí, že tento kontajner pokryje zostávajúci priestor */
  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 1; /* Rozšíri túto časť, aby footer zostal na spodku */
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.footer {
  margin-top: auto; /* Posunie footer na spodok stránky */
  background-color: #00203FFF;
  color: #ADEFD1FF;
  padding: 2rem;
  text-align: center; /* Zarovnanie textu do stredu */
  width: 100%; /* Zabezpečí, že footer pokryje celú šírku stránky */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  max-width: 50%;
}

.footer-left h2 {
  margin-bottom: 1rem;
}

.footer-left p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.project-button {
  background-color: #28a745;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.project-button:hover {
  background-color: #218838;
}

.footer-right h3 {
  margin-bottom: 1rem;
}

.footer-right p {
  margin-bottom: 0.5rem;
}

.footer-right a {
  color: #ADEFD1FF;
  text-decoration: none;
}

.footer-right a:hover {
  text-decoration: underline;
}
